@font-face {
	font-family: Geo;
	src: url(Geo/Geo.otf);
}

html {
	background-color: #4D4D4D;
}

h1 {
	font-family: Geo;
	font-size: 128pt;
	text-align: center;
	color: white;
	line-height: 0;
}

h3 {
	font-family: Geo;
	font-size: 16pt;
	text-align: center;
	color: white;
	line-height: 0;
}

/*
.header {
	position: relative;
	line-height: 0;
	top: 128px;
}
*/

a:link {
	color: white;
	text-decoration: none;
}

a:visited {
	color: white;
	text-decoration: none;
}

a:hover {
	color: #D3D3D3;
	text-decoration: none;
}

a:active {
	color: #D3D3D3;
	text-decoration: none;
}

.twitter-timeline {
	display: block;
	margin-left: auto;
    margin-right: auto;
	margin-top: 64px;
	width: 520px;
	height: 600px;
}

